body {
    padding-top: 90px;
    padding-bottom: 20px;
    font-size:17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
span.field-validation-error {
    color: red;
    font-weight: bold;
}



/*Custom Css*/
/*#region CustomCss */
.voffset{margin-top:4px;}
.voffset1{margin-top:6px;}
.voffset2{margin-top:8px;}
.voffset3{margin-top:10px;}
.voffset4{margin-top:12px;}
.gigs {
    list-style:none;
}

.gigs > li{
    position:relative;
    margin-bottom:30px;
}

.gigs >li .details{
    position:absolute;
    left:70px;
    top:0;
}

.gigs >li .date{
        
    text-align:center;
    width:60px;
}

.gigs > li .date .month {
    background:black;
    color:white;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    padding:2px 6px;
    border-radius:6px;
    }
.gigs > li .details .artist {
        display:block;
        font-weight:bold;
    }
 .gigs > li .details .genre {
        font-size:15px;
    }
.gigs > li .actions {
        display:none;
        font-size:15px;
    }

    .gigs > li:hover .actions {
    display:block;
    }
 
/*#endregion */

/*#region Bootstrap */

.form-control {
    font-size:17px;
    height : 44px;
    border-radius:9px;
}
.form-group{
    margin-bottom:20px;
}

/*#endregion */





