@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var artist in Model)
    {
        <li>
            @artist.DateTime - @artist.Artist.Name </li>
    }
</ul>