@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<ul class="gigs">
    @foreach (var artist in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @artist.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @artist.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @artist.Artist.Name
                </span>
                <span class="genre">
                    @artist.Genre.Name
                </span>
            </div>
        </li>
    }
</ul>